*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
  }
header{
    background-image: url(uploads/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headerS1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 100;
}
.toggleNavBar{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    transition: 0.8s ease;
}
ul{
    display: flex;
    gap: 14px;
    margin-right: 50px;
    font-size: large;
    color: aliceblue;
}
ul img{
    width: 12px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
}
li{
   list-style: none;
    color: white;

}
a{
    text-decoration: none;
}
.fbLogo{
    height: 13px;
}

.logo{
    width: 50%;
    height: auto;
    margin-left: 15%;
}
.btnViewGalery{
    background: linear-gradient(to right, #4A90E6, #6A5ACD);
    border-radius: 50px;
    padding: 3%;
    border: none;
    width: 32%;
    transition: 0.3s;

}
.btnViewGalery:hover{
    background: linear-gradient(to left, #4A90E6, #6A5ACD);
    scale: 1.1;
    transition: 0.4s ease;
}
span{
    font-size: large;
    color:white;
}
.logoMenu img{
    display: none;
}
.display{
    transition: 0.5s ease;
    display: block;
    flex-direction: row;
    margin-top: 30%;
    line-height: 40px;
    padding-right: 100px;
}
@media (max-width: 1024px){
    ul{
        display: none;
        transition: 0.6s ease-in-out;
    }
    .logoMenu img{
        display: block;
        width: auto;
        height: 30px;
        position: absolute;
        left: 80%;
    }
}

.headers2{
    color: aliceblue;
    display: flex;
    gap: 25px;
    width: 70%;
    margin-bottom: 14%;
    margin-left: 21%;
    padding: 0;
    font-size: 25px;
}
h1{
    font-size: 60px;
}

/*---------------------------------------- FORMULAIRE EN BAS-------------------------------------------------------------- */

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: whitesmoke;
    width: max-content;
    text-align: center;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 3%;
    width: 90%;
    min-width: 300px;
    margin-right: 30px;
    height: 100%;
}
form input[type=submit]{
  background: linear-gradient(to right, #4A90E6, #6A5ACD);
  border-radius: 50px;
    width: 210%;
    color: white;
    font-size: large;
    transition: 0.3s ease;
}
.btnSubmit:hover{
    background: linear-gradient(to left,#4A90E6, #6A5ACD );
    scale: 1.1;
    transition: 0.4s ease;
}
form input, select{
    height: 50px;
    border: none;
    text-align: center;
    color: rgb(0, 0, 0, 0.4);
    font-size: 15px;
    width: 100%;
}
form  input::placeholder{
    color: rgb(0, 0, 0, 0.4);
}
form p{
    color: black;
    font-size: 18px;
}
form img{
    width: 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 3px;
    background: linear-gradient(to right, #4A90E6, #6A5ACD);
}

@media (max-width: 1905px) {
    form{
        width:80%;
        margin-right: 300px;
    }
    form input, select {
        width: 100%;
    }
    .headers2{
        margin: auto;
    }
}
@media(max-width:1000px){
    .headers2{
        flex-direction: column;
    }
    form{
       grid-template-columns: auto;
       width: 80%;
    }
    form input[type=submit]{
        max-width: 100%;
    }
}
@media (max-width: 768px){
    .headers2{
        display: none;
    }

}
/* ------------------------------------------------------------------------------------------ */

/* PARTIE 2 */
main{
    padding-top: 5%;
    text-align: center;
   
}
.paragraphe{
    color: gray;
}
.mainS1{
    display: flex;
    flex-direction: column;
}
h4{
    color: rgb(0, 0, 255, 0.5);
}
.iconesMaison{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.estateImg img{
    max-width: 350px;
    border-radius: 10px;
}

.estateImg{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;

}
.estateImg p{
    max-width: 350px;
}

@media (max-width: 1024px) {
    .estateImg p{
        margin-bottom: 20px;
    }   
}
/* ANNIMATION TOOGLE DES BOITES */

.boiteDesboites{
    border: 1px solid #4A90E6;

    transition: 0.2s ease-out;
}
.boiteDesboites2{
    border: 1px solid #4A90E6;
    transition: 0.5s ease-out;
}

/* --------------------------------------------------------------------------------------------------- */

/* --------------------------------------------Agent Details */

.agentDetails{
 background-color: rgb(0, 0, 0, 0.9);
 color: white;
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;
 padding-top: 5%;
 margin-top: -1px;
 min-height: 60vh;
 overflow: hidden;
}
.agentDetails h1{
    width: 80%;
    font-size: 2em;
}
.agentDetails img{
    max-width: 250px;
    border-radius: 10px;
}
.agent{
    display: flex;
    margin-top: 5%;
    max-width: 70%;
    justify-content: center;
    gap: 3%;
}
.agent p{
    color: gray
}

.titreGrisAgent{
    color: gray;
    font-size: 1.3em;
}

.nomAgent{
    color: white;
    font-size: 2.1em;
}
.italique{
    font-style: italic;
    font-size: 1.1em;
}
.btnContact{
    background: linear-gradient(to right, #4A90E6, #6A5ACD);
    width: 120px;
    height: 12%;
    border: none;
    border-radius: 50px;
    font-size: large;
    margin-bottom: 4px;
}
.btnContact:hover{
    background: linear-gradient(to left,  #4A90E6, #6A5ACD);
}

.paragrapheAgent{
    font-size: 0.8em;
}
.boxAgent {
    text-align: left;
}
.logoAgent{
    font-size: small;
    width: 120%;
    text-align: left;
    line-height: 4em;
}
.logoAgent img{
    width: 5%;
    margin-right: 6px;
}
#reduceLogoAgent{
   width: 3%;
}
.triangleRenverse{
    margin-top: 5%;
    width: 3%;
    margin-top: -1px;
    margin-left: 48%;
}
.triangle2{
    margin-top: 5%;
    width: 3%;
    margin-left: 48%;
}
@media (max-width: 990px) {
    .agent{
        flex-wrap: wrap;
    }
}
/* ----------------------------------------------------------------------------------------------------------- */

/* PROPERTY GALLERY */
.imageParti4 img{
    width: 20%;
}
.imageParti4{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    z-index: -1;
}
.imageParti5 img{
    width: 20%;
}
.imageParti5{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1000px) {
    .imageParti4{
        flex-direction: column;
        align-items: center;
    }
    .imageParti4 .imageContenair, .imageParti4 .imageContenair1, .imageParti4 .imageContenair2 {
        width: 80%;
    }
    .imageParti5{
        flex-direction: column;
        align-items: center;
    }
    .imageParti5 .imageContenair3, .imageParti5 .imageContenair4, .imageParti5 .imageContenair5{
        width: 80%;
    }
    
}

.partie4{
    padding-bottom: 10%;
    margin-top: 8%;
}
/* evenement mousemove sur les images */
.contenant1{
    position: relative;
    display: inline-block;

}
/* ------------------EFFET SUR LES IMAGES DE PROPERTY GALLERY-------- */
.imageContenair{
    position: relative;
    display: inline-block;
    width: 20%;
}
.imageContenair img{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* -------------------------- */
.imageContenair1{
    position: relative;
    display: inline-block;
    width: 20%;
}
.imageContenair1 img{
    display: block;
    width: 100%;
    height: auto;
}
.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
/* -------------------------- */
.imageContenair2{
    position: relative;
    display: inline-block;
    width: 20%;
}
.imageContenair2 img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* -------------------------- */
.imageContenair3{
    position: relative;
    display: inline-block;
    width: 20%;
}
.imageContenair3 img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* -------------------------- */
.imageContenair4{
    position: relative;
    display: inline-block;
    width: 20%;
}
.imageContenair4 img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* -------------------------- */
.imageContenair5{
    position: relative;
    display: inline-block;
    width: 20%;
}
.imageContenair5 img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay5{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */ 
/* SERVICES */

.services{
    background-color: rgb(128, 128, 128, 0.1);
    padding-bottom: 2%;
    padding-top: 2%;
    overflow: hidden;
    height: 70vh;
    
}
.boxeService img{
    width: 8%;
}
.boxeService p{
    color: gray;
    font-style: italic;
}
.boxeService1{
    min-width: 300px;
    height: 180px;
    margin-top: 1%;
    padding-top: 3%;
    background-color: white;
    line-height: 2em;
}

.boxeService2{
    min-width: 300px;
    height: 180px;
    margin-top: 1%;
    padding-top: 3%;
    background-color: white;
    line-height: 2em;
}
#happy{
    padding-top: 5%;
    font-size: 2em;
    text-decoration: none;
}
#ss4 p {
    width: 40%;
    margin: auto;
}
.boxeService{
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    gap: 2%;
    width: 50%;
    height: 300px;
    margin: auto;
    padding: 1px;
    padding-top: 2%;

} 
.boxeService h3 {
    background-color: wheat;
}
#btnNext{
    width: 2%;
    position: relative;
    left: 29%;
    bottom: 210px;
   
}
#btnPreview{
    width: 2%;
    position: relative;
    right: 29%;
    bottom: 250px;
}
@media (max-width: 596px) {
    .boxeService{
        width: 300px;
    }
}
/* ---------------------------------------Formulaire 2--------------------------------- */
.form2 .formulaireBouttonFlex form{
    margin-top: 3%;
    width: 40%;
    margin: auto;
    border-radius: 5px;
    gap: 7;
    margin-bottom: 50px;
}
.form2 .formulaireBouttonFlex form input[type=submit]{
    width: 205%;
}
.form2{
    margin-top: 4%;
    text-align: center;
    
}
.form2 p {
    margin-top: 25px;
    margin-bottom: 50px;
}

.form2 .formulaireBouttonFlex form #textarea{
    width: 202%;
    height:150px ;

}
.form2 h1{
    font-size: 1.2em;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
@media (max-width: 995px) {
    .form2 .formulaireBouttonFlex form #textarea{
        width: 100%;
        height:100px ;
    
    }
}

/* ---------------------------------------FOOTER DE FOOTER------------------------------------------ */
.fotterFotter{
    width: 64%;    
    display: flex;
    margin: auto;
    gap: 3%;
    justify-content: center;
    padding-top: 5%;
}
.backgroundFotterFotter{
    background-color: black;
    color: rgb(255, 255, 255);
}
.fotterFotter a{
    text-decoration: none;
    color: white;
}
.fotterFotter #footerLogoMenu{
    width: 45%;
}

.fotterFotter .contenu{
    max-width: 400px;
}

#petitIcone{
    width: 15px;
}
#petitIcone2{
    width: 8px;
}
.fotterFotter p, .fotterFotter a, .fotterFotter address{
    color: rgb(255, 255, 255, 0.5);
}

@media (max-width: 1445px) {
    .fotterFotter{
    width: 85%;    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 6%;
    padding-top: 5%;
}
    .fotterFotter .contenu{
        width: 200px
    }
}